/* Custom styles for SS14 docs */

/* allow wider content since no navvybar buttons */
:root, .light, .rust, .coal, .navy, .ayu {
    --content-max-width: 850px;
    
    /* Old site colors */
    --bg: rgb(46,46,46) !important;
    --fg: #aaaaaa !important;
    --links: #00bc8c !important;
    
    --sidebar-bg: rgb(46,46,46) !important;
    --sidebar-fg: #aaaaaa !important;
    --sidebar-active: #00bc8c !important;
    --sidebar-active-bg: #444 !important;
    
    --menu-bar-bg: rgb(46,46,46) !important;
    --inline-code-color: #bbbbbb !important;
    --quote-bg: #333 !important;
    --quote-border: #00bc8c !important;
}

a {
    color: #00bc8c;
}

/* title text on top of every page */
.menu-title {
    color: #00bc8c;
    cursor: pointer;
}

@media only screen and (min-width: 1366px) {
    .content>main {
        /* navbar button was basically a margin left but dont have that no more so */
        margin-left: 200px;
    }
} 

/*   Mostly stolen from the Rhai book (rhai.rs) theme */
.part-title {
    font-size: 150%;
    font-variant-caps: small-caps;
    color: #d1d1d1;
}

/* lets get a little more compact */
.chapter li.chapter-item {
    margin-top: 0.45em;
}

.chapter>.chapter-item {
    padding-left: 10px;
}

.chapter>.chapter-item:first-child {
    font-weight: bold;
    font-size: 200%;
    font-variant-caps: small-caps;
    padding-left: 0px;
}

/* bigger buttons for discoverability */ 
.right-buttons > a > i {
    font-size: 200%;
}

.left-buttons > button > i {
    font-size: 200%;
}

/* Red links (missing pages) */
.red-link {
    color: #e74c3c !important;
    text-decoration: underline dashed;
}

/* Table styles from old site */
table {
    border-color: #555;
    width: 100%;
    border-collapse: collapse;
}

th {
    color: #868686;
    text-align: left;
    padding: 5px 10px;
}

td {
    padding: 5px 10px;
    border-bottom: 1px solid #444;
    border-top: 1px solid #444;
}

/* Heading colors */
h1, h2, h3, h4, h5 {
    color: rgb(209,209,209);
    clear: both;
}

main h2, h3 {
    margin-top: 1.25em;
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
}

main h1 {
    border-bottom: 3px solid #444;
    padding-bottom: 7px;
}

.navy code {
    background: #0f0f12 !important;
}