/*Highlights (Rogue-Github based)*/
.highlight {
  background-color: #000;
}
.highlight table td {
  padding: 5px;
}
.highlight table pre {
  margin: 0;
}
.highlight .cm {
  color: #998;
  font-style: italic;
}
.highlight .go {
  color: #888;
}
.highlight .gt {
  color: #a00;
}
.highlight .kr {
  color: #000;
  font-weight: bold;
}
.highlight .m {
  color: #099;
}
.highlight .se {
  color: #d14;
}
.highlight .s {
  color: #d14;
}
.highlight .no {
  color: #008080;
}

/* W3.CSS 4.12 Novemberr 2018 by Jan Egil and Borge Refsnes */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
details,
header,
main,
menu,
section {
  display: block;
}
audio,
progress {
  display: inline-block;
}
progress {
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
code,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select {
  font: inherit;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
[type="radio"] {
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* End extract */
html,
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
html {
  overflow-x: hidden;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}
hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}
img {
  vertical-align: middle;
}
a {
  color: inherit;
}
#main {
  transition: margin-left 0.4s;
}
@media (max-width: 600px) {
  .w3-hide-small {
      display: none !important;
  }
}
@keyframes w3-spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(359deg);
  }
}
@keyframes fading {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
@keyframes opac {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@keyframes animatetop {
  from {
      top: -300px;
      opacity: 0;
  }
  to {
      top: 0;
      opacity: 1;
  }
}
@keyframes animateleft {
  from {
      left: -300px;
      opacity: 0;
  }
  to {
      left: 0;
      opacity: 1;
  }
}
@keyframes animateright {
  from {
      right: -300px;
      opacity: 0;
  }
  to {
      right: 0;
      opacity: 1;
  }
}
@keyframes animatebottom {
  from {
      bottom: -300px;
      opacity: 0;
  }
  to {
      bottom: 0;
      opacity: 1;
  }
}
@keyframes animatezoom {
  from {
      transform: scale(0);
  }
  to {
      transform: scale(1);
  }
}
:root {
  --blue: #375a7f;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #e74c3c;
  --orange: #fd7e14;
  --yellow: #f39c12;
  --green: #00bc8c;
  --teal: #20c997;
  --cyan: #3498db;
  --white: #fff;
  --gray: #888;
  --gray-dark: #303030;
  --primary: #375a7f;
  --secondary: #444;
  --success: #00bc8c;
  --info: #3498db;
  --warning: #f39c12;
  --danger: #e74c3c;
  --light: #adb5bd;
  --dark: #303030;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article,
header,
main,
section {
  display: block;
}

body {
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.9375rem;
  padding: 0px;
  font-weight: 400;
  line-height: 1.5;
  color: #aaaaaa;
  text-align: left;
  background-color: #222;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

h1,
h2,
h3,
h4,
h5 {
  color: rgb(209, 209, 209);
  margin: 0 0 20px;
}

p,
ul,
ol,
table,
pre {
  margin: 0 0 20px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 27px;
}
h3,
h4,
h5 {
  color: #AAAAAA;
}

a {
  color: #00bc8c;
  text-decoration: none;
  background-color: #222;
}

a:hover {
  color: #01916d;
}

a small {
  font-size: 11px;
  color: #00bc8c;
  margin-top: -0.3em;
  display: block;
}

a:hover small {
  color: #01916d;
}

.wrapper {
  margin: 0 auto;
}

input {
  background-color: #a3a3a3;
}

code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: #bbbbbb;
  font-size: 12px;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-color: white;
}

th,
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

th {
  color: rgb(114, 114, 114);
}

img {
  max-width: 100%;
}

#git-wiki-mobile-header {
  top: 0;
  padding: 0;
  padding-top:0;
  padding-bottom:10px;
  height: 60px;
  width: 100%;
  border-radius: 10px;
  border-bottom: 1px solid white;
  z-index: 999;
  background-color:#222;
  margin-top:0px;
  margin-bottom:15px;
  position: fixed;
}

@media print,
screen and (max-width: 992px) {

  .git-wiki-page {
    margin-top: 40px;
  }
}

strong {
  color: #bbbbbb;
  font-weight: 700;
}

.git-wiki-page {
  /*width:500px;
  float:right;*/
  padding-left: 320px;
  padding-bottom: 50px;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px;
}

.tools-element {
  border-left-style: solid;
  border-right-style: solid;
  padding-left: 10px;
  padding-right: 10px;
}

@media print,
screen and (max-width: 960px) {

  div.wrapper {
    width: auto;
    margin: 0;
  }

  
  .git-wiki-page {
    float: none;
    position: static;
    width: auto;
  }

  .git-wiki-page {
    border-width: 1px 0;
    padding: 20px 0;
    margin: 60px 0 20px;
  }

  /*#git-wiki-sidebar .git-wiki-downloads {
    position:absolute;
    right:50px;
    top:52px;
  }*/
}


@media print,
screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  pre,
  code {
    word-wrap: normal;
  }
}

@media print,
screen and (max-width: 480px) {
  body {
    padding: 15px;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}

#results-container li {
  list-style-type: none;
}


.col {
    padding-right: 15px;
    padding-left: 15px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 0px;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}

  .git-wiki-page {
    margin-top: 40px;
  }

.float-container {
    border: 0;
    margin-top:80px;
    padding: 10px;
    width: 100%;
}

.float-child-1 {
    width: 20%;
    bottom: 60px;
    top: 60px;
    float: left;
    padding: 0px;
    border-right: 1px solid white;
    position: fixed;
    margin-right:20px;
}  
.float-child-1-scroll {
  height: 100%;
  overflow-y:auto;
}  
.float-child-2 {
  width: 75%;
  float: right;
  padding: 0;
  border: 0;
  margin: 20px;
  margin-bottom: 80px;
}  

.git-wiki-copyrights {
  border: 0;
  bottom:0;
  position:fixed;
  margin:0;
  padding:0;
  width: 100%;
  font-size: 10px;
  background-color:#222;
  text-align: center;
}

.git-wiki-tools {
  background-color:#222;
  font-size:1rem;
  float: right;
  margin-top: 10px;
}